# Data Science Tools and Ecosystem

### In this notebook, Data Science Tools and Ecosystem are summarised

**Objectives:**
* Common tools used by Data scientists
* Popular Languages used by Data Scientists
* Commonly used libraries by Data Scientists
* How to create a GitHub account

### Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. R
4. Java
5. Julia
6. Scala

### Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Matplotlib
4. TensorFlow
5. PyTorch

| Data Science Tools |
|--------------------|
| Jupyter Notebooks |
| Pandas |
| Tidyverse |

### Below are few examples of evaluating arithmetic expressions in Python
5+5
6*7

### Below are few examples of evaluating arithmetic expressions in Python
- 5+5
- 6*2

In [11]:
# This is a simple arithmetic expression to multiply then add integers
result = (3*4) + 5
print (result)

17

In [13]:
# This will convert 200 minutes to hours by dividing by 60
minutes = 200
hours = minutes / 60
print (hours)

3.3333333333333335

## Author
A. Arthur